@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));
    animation: navbarAnimation 2s ease-in;
}
.hoveri:hover {
    text-decoration: underline;
}
.hovera:hover {
    text-decoration: underline;
}
.hoverm:hover {
    text-decoration: underline;
}
.hoverr:hover {
    text-decoration: underline;
}
footer .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width:768px) {
    footer .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
#photo-enter {
    position: relative;
    animation: flipX 2s ease-out;
}
.letter-spin {
    position: relative;
}
.letter-spin span {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    animation: flipLetter 2s;
    animation-delay: calc(.2s * var(--i))
}
.index-accordion {
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
}
#home div h3 {
    position: relative;
    font-size: 1.35rem;
    margin-top: 20px;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
}
.accordion-font {
    font-size: 1rem;
    color: black !important;
}
.accordion-font1 {
    font-size: 1.5rem;
    color: black !important;
}
#about-flipInX {
    font-size: 4rem;
    margin-top: 20px;
    position: relative;
    animation: flipX 2s 1;
}
.css-abouttxt-1 {
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
}
.css-abouttxt-2 {
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 2s;
    animation-timing-function: ease-in;
}
.css-abouttxt-3 {
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 3s;
    animation-timing-function: ease-in;
}
.about-me {
    position: relative;
    margin-top: 20px;
    animation: slideLeft 3s;
    animation-timing-function: cubic-bezier(.51,.92,.24,1.15);
}
.educate {
    position: relative;
    margin-top: 20px;
    animation: slideLeft 4s;
    animation-timing-function: cubic-bezier(.51,.92,.24,1.15);
}
.looking-ahead {
    position: relative;
    margin-top: 20px;
    animation: slideLeft 5s;
    animation-timing-function: cubic-bezier(.51,.92,.24,1.15);
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: white;
}
.glow-on-hover:active:after {
    background: linear-gradient(to right, rgba(132, 250, 176, 0.7), rgba(143, 211, 244, 0.9));
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.project-title {
    animation: slideDown 2s;
}
.project-cards {
    animation: fadeInDelay 2s;
}
.resume-body {
    animation: fadeIn 2s;
}
form {
    display: flex;
    flex-direction: column;    
}
.formsubmit {
    justify-content: center;
}
@keyframes slideLeft {
    from {
        opacity: 0;
        left: 150%;
    }
    to{
        opacity: 1;
        left: 0%;
    }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeInDelay {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes flipX {
    from {
        opacity: 0;
        transform: rotateX(-0.2turn);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }

}
@keyframes navbarAnimation {
    from {
        background-color: rgba(6, 46, 46, 0.815);
    }
    to {
        background-color: transparent;
    }
}
@keyframes flipLetter {
    0%, 80% {
        transform: rotateY(360deg)
    }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}