@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5))
}

#about-flipInX {
    font-size: 4rem;
    margin-top: 20px;
    position: relative;
    animation: flipX 2s 1;
}

@keyframes flipX {
    from {
        opacity: 0;
        transform: rotateX(-0.2turn);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }

}

#aboutMeDetails p {
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
}

#aboutMeDetails h2 {
    position: relative;
    margin-top: 20px;
    animation-timing-function: cubic-bezier(.51,.92,.24,1.15);
}

.about-me {
    animation: slideLeft 3s;
}

.education {
    animation: slideLeft 4s;
}

.looking-ahead {
    animation: slideLeft 5s;
}



@keyframes slideLeft {
    from {
        opacity: 0;
        left: 150%;
    }
    to{
        opacity: 1;
        left: 0%;
    }
}


